.root {
    @apply p-3 relative;
}

.squared {
    @apply w-max flex flex-col justify-center items-center overflow-hidden;
    aspect-ratio: 1 / 1;
}

.box {
    @apply absolute transition-all;
    animation-timing-function: cubic-bezier(0.31, -0.1, 0.34, 1.02);
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.box-red {
    background: #F66F6F;
    width: 85%;
    height: 85%;
    top: 7.5%;
    left: 7.5%;
}

.box-yellow {
    width: 41.8%;
    height: 95.7%;
    top: -46.5%;
    left: -6.3%;
    transform: rotate(64.53deg);
    background: rgba(255, 178, 27, 0.78);
}

.box-yellow.animate{
    animation-name: bxy;

}

@keyframes bxy {
    from {
        top: -100%;
        transform: rotate(90deg);
    }

    to {
        top: -46.5%;
        transform: rotate(64.53deg);
    }
}

.box-purple {
    width: 147.22%;
    height: 95.7%;
    top: -15.6%;
    left: 60.7%;
    transform: rotate(35.326deg);
    background: rgba(131, 111, 255, 0.57);
}

.box-purple.animate {
    animation-name: bxp;
}

@keyframes bxp {
    from {
        left: 100%;
        transform: rotate(90deg);
    }

    to {
        left: 60.7%;
        transform: rotate(35.326deg);
    }
}

.box-green {
    width: 147.22%;
    height: 95.7%;
    top: 70%;
    left: -27.3%;
    transform: rotate(42.247deg);
    background: rgba(111, 255, 160, 0.57);
}

.box-green.animate {
    animation-name: bxg;
}

@keyframes bxg {
    from {
        top: 100%;
        transform: rotate(0deg);
    }

    to {
        top: 70%;
        transform: rotate(42.247deg);
    }
}

.box-black {
    width: 41.8%;
    height: 95.7%;
    top: 31.5%;
    left: 87.7%;
    transform: rotate(64.53deg);
    background: rgba(62, 56, 63, 0.57);
}

.box-black.animate {
    animation-name: bxb;
}

@keyframes bxb {
    from {
        left: 100%;
        transform: rotate(0deg);
    }

    to {
        left: 87.7%;
        transform: rotate(64.53deg);
    }
}
